/*css reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Niconne', cursive;
}
/* header*/
header {
	height: 100%;
	position: fixed;
	background-color: #161916;
	width: 20%;
	text-align: center;
	float: left;
}
.square {
	background: url('../img/coffee.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
	width: 80%;
	margin: 20px auto;
	opacity: 0.9;
	border-radius: 5px;
	border: 5px solid #fff;
}

li {
	background-color: #fff;
	padding: 20px;
	width: 80%;
    margin: 20px auto;
    font-size: 25px;
    border-radius: 18px;
}

nav > ul > a {
	text-decoration: none;
	color: #263238;
	list-style-type: none;
}
/*
 *
 *
 * main
 *
 */

main {
	width: 80%;
	float: right;
}

#home {
	height: 720px;
	background-color: #6b0000;
	background-repeat: no-repeat;
	background-size: cover;
}
#about {
	height: 500px;
	background-color: #36368a;
}
#services {
	height: 500px;
	background-color: #6b0000;
	color: #fff;
}
#projects {
	height: 500px;
	background-color: #36368a;
}
#gallery {
	height: 500px;
	background-color: #6b0000;
}

section#home > div.website {
	position: relative;
	width: 40%;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); 
}

section#home > div.website > div.descrip {
	padding: 30px;
	background-color: #000;
	border-radius: 50px;
	color: #fff;
	opacity: 0.7;
	/*width: 80%;
	text-align: center;*/
}

section#home > div.website > div.descrip > h1 {
	font-size: 2.5em;
	font-family: 'Molle', cursive;
}
p {
	
	font-size: 18px;
}

h3 {
	color: #fff;
	font-size: 50px;
	text-align: center;
	line-height: 500px;
	font-family: 'Molle', cursive;
}
/*footer*/
footer {
	float: right;
	width: 80%;
	height: 50px;
	background-color: #000;
	text-align: center;
	line-height: 50px;
	color: #fff;
	opacity: 0.5;
}

li:hover {
	background-color: #000;
	color: #fff;
}

li:active {
	background-color: #EA80FC;
}
